/* Center login screen */
.login-screen {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    text-align: center;
    background-color: #f4f4f4; /* Light background */
  }

  .login-screen h1 {
    font-size: 32px;
    color: #2c3e50;
    margin-bottom: 10px;
  }

  .login-screen p {
    font-size: 18px;
    color: #555;
    margin-bottom: 20px;
  }

  .google-login-button {
    padding: 10px 20px;
    font-size: 16px;
    background-color: #4285F4;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }

  .google-login-button:hover {
    background-color: #357ae8;
  }
  